@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Employee</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Address)
                </td>
            </tr>
        }
    </tbody>
</table>
